.Game {
 width: 100%;
 min-width: fit-content;
 height: auto;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 box-sizing: border-box;
 overflow: auto;
 .game-header {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  background-color: white;
  .player-container {
   img {
    width: 30px;
    height: auto;
   }
  }
 }
}