.Game {
  width: 100%;
  min-width: fit-content;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow: auto;
  .game-header {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    color: white;
    padding-block: 6px;
    .player-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      height: 100%;
      width: auto;
      padding-inline: 20px;
      padding-block: 8px;
      box-sizing: border-box;
      border-radius: 5px;
      .section-left {
        text-align: center;
        p,
        h2 {
          margin: 0;
          padding: 0;
        }
      }
      .section-right {
        img {
          width: 50px;
          height: auto;
        }
      }
    }
    .active-player {
      background-color: #ffffff42;
    }
    .controller {
      width: auto;
      display: flex;
      gap: 30px;
      img {
        width: 60px;
        height: auto;
      }
    }
  }
}
