.Game {
  width: 100%;
  min-width: fit-content;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
  .pop-up {
    width: fit-content;
    color: white;
    position: fixed;
    bottom: 20px;
    background-color: black;
    padding: 20px;
    z-index: 2;
    border-radius: 5px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    h1 {
      margin: 0;
    }
  }
  .GameBoard {
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding-inline: 70px;
    padding-top: 110px;
    padding-bottom: 30px;
    .row {
      display: flex;
      flex-wrap: nowrap;
      box-sizing: border-box;
    }
  }

  @media screen and (max-width: 1400px) {
    .pop-up {
      bottom: 0;
    }
  }

  @media screen and (max-width: 640px) {
    .player-container {
      flex-wrap: wrap;
      row-gap: 5px;
      .section-right {
        img {
          width: 40px;
        }
      }
    }
    .pop-up {
      top: 400px;
    }
    .GameBoard {
      padding-top: 200px;
    }
  }
}
