.Main {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  color: white;
  margin-inline: auto;
  .container {
    width: 100%;
    height: auto;
    .players {
      width: 100%;
      min-height: 440px;
      height: auto;
      .players-card {
        min-height: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: #ffffff42;
        border-radius: 5px;
        position: relative;
      }
    }
    .collapse-section {
      overflow: hidden;
      transition: height 2s ease-out;
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      .reg-container {
        padding-inline: 30px;
      }
      .bs-select {
        width: auto;
        height: 100%;
        padding-block: 10px;
        text-align: center;
        color: white;
        font-weight: bold;
        border: unset;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.4);
        font-size: x-large;
      }
      .disabled {
        cursor: default;
        img {
          opacity: 0.2;
        }
        img:hover {
          height: 70%;
        }
      }
    }

    .collapse-section.hide {
      height: 0;
      transition: height 2s ease-out;
    }
  }
  .bg-content {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
  }
  .left-top {
    left: -10%;
    top: -20%;
    transform: rotate(290deg);
  }
  .right-top {
    right: -10%;
    top: -20%;
    transform: rotate(240deg);
  }
}
