.PlayerConfig {
  height: auto;
  min-height: 380px;
  .custom-input {
    background-color: inherit;
    border: unset;
    color: white;
    font-size: x-large;
    text-align: center;
  }
  .custom-select {
    width: 100%;
    height: 100%;
    min-height: 36px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .figure-container {
    height: fit-content;
    .figure {
      width: auto;
      height: 40px;
    }
  }
  .logout-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
