.Square {
 height: 60px;
 width: 60px;
 background-color: inherit;
 border: 2px solid rgba(255, 255, 255, 0.5);
 padding: unset;
 box-sizing: border-box;
img {
 width: 70%;
 height: auto;
}
}
.Square:hover {
 background-color: rgba(255, 255, 255, 0.1);
}