::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #6b6b6b3c;
}
::-webkit-scrollbar-thumb {
  background-color: #464646;
  border-radius: 6px;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

a img {
  border: none;
}

h1,
h2 {
  font-weight: bold;
}

span {
  font-size: x-large;
  font-weight: 400;
}

.btn {
  border-radius: 4px;
}

.game-button {
  background-color: transparent;
  border: unset;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.game-button img {
  height: 70%;
  opacity: 0.6;
}
.game-button img:hover {
  height: 90%;
  opacity: 1;
}

.text-danger {
  font-weight: bold;
  margin: 0;
}

hr {
  opacity: 1;
}

body {
  width: auto;
  position: relative;
  font-family: "Quicksand", sans-serif;
  background-color: #181717;
  overflow-x: hidden;
  height: 100vh;
/*   overflow-y: hidden; */
}

.figure-orange {
  filter: invert(40%) sepia(100%) saturate(500%) hue-rotate(0deg);
}

.figure-purple {
  filter: invert(50%) sepia(100%) saturate(400%) hue-rotate(200deg);
}

.figure-green {
  filter: invert(40%) sepia(100%) saturate(500%) hue-rotate(45deg);
}

.figure-yellow {
  filter: invert(40%) sepia(100%) saturate(500%) hue-rotate(10deg);
}

.figure-blue {
  filter: invert(40%) sepia(100%) saturate(500%) hue-rotate(170deg);
}

.figure-pink {
  filter: invert(40%) sepia(100%) saturate(500%) hue-rotate(270deg);
}

.figure-red {
  filter: invert(70%) sepia(100%) saturate(500%) hue-rotate(320deg);
}

/* #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.App {
  /*   min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; */
}
