a {
  text-decoration: none;
  color: inherit;
}

a img {
  border: none;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #181717;
}

/* #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.App {
/*   min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; */
}
